.table_main {
  margin-top: 20px;
}
.gld_heading {
  margin-top: 20px;
}
.add_course_btn {
  background: #1f854b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #ffffff !important;
  filter: drop-shadow(0px 4px 44px rgba(0, 0, 0, 0.35));
  border: none;
  justify-content: center;
  outline: none !important;
  cursor: pointer;
  align-self: flex-start;
}
.add_course_btn i {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  margin-right: 4px;
}

.text_input {
  width: 300px;
}
.mt-4 h6 {
  font-weight: 600;
  font-size: 14px;
}
.ant-collapse-content-box {
  padding: 0px 16px !important;
}
.table_input {
  /* border: none; */
  outline: none !important;
  border: 1px solid gainsboro;
  padding: 5px 5px;
  border-radius: 5px;
}
.close_icon {
  cursor: pointer;
  margin-left: 5px;
}
